/* Set everything to border-box sizing and remove padding and margins. */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.darkblue {
    color: white;
    background-color: #1F2937;
}
.head, .content1 {
    padding: 10px;
    justify-content: space-between;
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
}
.content1 {
    gap: 100px;
}
.head-left {
    font-weight: bold;
    font-size: large;
}
.head-right {
    gap: 10px;
    font-size: small;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.darker-text, a {
    font-size: 18px;
    color: #E5E7EB;
}
div.column2 {
    background-color: gray;
    padding: 50px;
    width: 500px;
    align-self: stretch;
}
#button {
    font-weight: bold;
    background-color: blue;
    border-radius: 5px;
    align-self: flex-start;
    padding: 5px 10px;
}
