/* Set everything to border-box sizing and remove padding and margins. */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.darkblue {
    color: white;
    background-color: #1F2937;
}
.head, .content1 {
    padding: 10px;
    justify-content: space-between;
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
}
.content1 {
    gap: 100px;
}
.head-left {
    font-weight: bold;
    font-size: large;
}
.head-right {
    gap: 10px;
    font-size: small;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.darker-text, a {
    font-size: 18px;
    color: #E5E7EB;
}
div.column2 {
    background-color: gray;
    padding: 50px;
    min-width: 500px;
    align-self: stretch;
}
.column1 {
    flex-direction: column;
}
#button {
    font-weight: bold;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 5px 25px;
    align-self: flex-start;
}
.content2 {
    flex-direction: column;
    padding-bottom: 100px;
}
.heading-2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 20px;
}
.bluebox-column {
    flex-direction: column;
    max-width: 200px;
    justify-content: space-between;
}
.bluebox-container {
    gap: 50px;
    max-width: 150px;
}
.bluebox {
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}
.content3 {
    flex-direction: column;
    background-color: #E5E7EB;
}
.content3.flex {
    max-width: 1000px;
    margin: 0 auto;
}
.content3 p {
    margin-top: 100px;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}
.content3 div {
    align-self: flex-end;
    font-weight: bold;
    font-size: large;
    margin-bottom: 100px;
}
.content4 {
    margin: 100px auto;
    padding: 50px;
    max-width: 1000px;
    color: #F9FAF8;
    background-color: #3882F6;
    justify-content: space-around;
    border-radius: 5px;
}
.content4 .title {
    font-weight: bold;
}
#end-button {
    border: 1px solid #F9FAF8;
    border-radius: 5px;
    padding: 5px 20px;
}
.foot {
    padding: 50px;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
}