/* Set everything to border-box sizing and remove padding and margins. */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.darkblue {
    color: white;
    background-color: #1F2937;
}
.head, .content1 {
    padding: 10px;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.head-left {
    font-weight: bold;
    font-size: large;
}
.head-right {
    gap: 10px;
    font-size: small;
}
a {
    text-decoration: none;
    color: white;
}